h1, h2, h3, h4, h5, h6 {
    font-family: tahoma;
}
h1 {
    color: red;
    text-align: left;
}

h2 {
    color: blue;
    text-align: center;
}

h3 {
    color: purple;
    text-align: right;
}

h4{
    color: #444;
}

h5 {
    color: #32f429;
}

h6 {
    color: #FF69B4;
}